.idea/          # Настройки PyCharm (индивидуальные)
venv/           # Виртуальное окружение (тяжелое и системно-зависимое)
.venv/          # Еще один вариант названия окружения
__pycache__/    # Кэш скомпилированного Python
*.pyc           # Файлы байт-кода
/.venv/
